In [7]:
import pandas as pd
import seaborn as sns; sns.set();
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
%pwd

'/home/localadmin/Documents'

In [8]:
f = open('/home/localadmin/business.csv','r')
df = pd.read_csv(f);
df.iloc[:,6:9]

,Impact: Capital Investments,Impact: Created New Jobs,Impact: Revenue Increase
0,0.0,0.0,0.0
1,0.0,0.0,0.0
2,0.0,0.0,0.0
3,0.0,0.0,0.0
4,0.0,0.0,0.0
5,0.0,0.0,0.0
6,0.0,2.0,500000.0
7,652900.0,27.0,0.0
8,0.0,0.0,0.0
9,0.0,0.0,0.0
10,0.0,0.0,0.0
11,0.0,0.0,0.0
12,0.0,4.0,1200000.0
13,156000.0,1.0,0.0
14,1225000.0,4.0,3176050.0
15,0.0,0.0,0.0
16,0.0,0.0,0.0
17,0.0,0.0,0.0
18,0.0,0.0,0.0
19,0.0,0.0,0.0
20,0.0,0.0,0.0
21,0.0,1.0,0.0
22,0.0,0.0,0.0
23,2090000.0,9.0,2100000.0
24,312000.0,2.0,776022.0
25,730000.0,5.0,460000.0
26,0.0,0.0,0.0
27,0.0,0.0,0.0
28,0.0,0.0,0.0
29,0.0,0.0,0.0
...,...,...,...
17049,0.0,0.0,0.0
17050,0.0,0.0,0.0
17051,0.0,0.0,0.0
17052,0.0,0.0,0.0
17053,0.0,0.0,0.0
17054,0.0,0.0,0.0
17055,0.0,0.0,0.0
17056,0.0,0.0,0.0
17057,0.0,0.0,0.0
17058,0.0,0.0,0.0
17059,0.0,0.0,0.0
17060,0.0,0.0,0.0
17061,0.0,0.0,0.0
17062,0.0,0.0,0.0
17063,0.0,0.0,0.0
17064,0.0,0.0,0.0
17065,0.0,0.0,0.0
17066,0.0,1.0,0.0
17067,0.0,0.0,147834.0
17068,0.0,0.0,0.0
17069,0.0,0.0,0.0
17070,0.0,0.0,0.0
17071,0.0,0.0,0.0
17072,0.0,0.0,0.0
17073,0.0,0.0,0.0
17074,0.0,0.0,0.0
17075,0.0,0.0,0.0
17076,0.0,0.0,0.0
17077,0.0,0.0,0.0
17078,0.0,0.0,0.0

In [9]:
pca = PCA(n_components=1)
pca.fit(df.iloc[:,6:9])
impact_pca = pd.DataFrame(pca.transform(df.iloc[:,6:9]))
impact_pca

                  0
0     -4.782759e+04
1     -4.782759e+04
2     -4.782759e+04
3     -4.782759e+04
4     -4.782759e+04
5     -4.782759e+04
6      2.675846e+05
7      4.587743e+05
8     -4.782759e+04
9     -4.782759e+04
10    -4.782759e+04
11    -4.782759e+04
12     7.091616e+05
13     7.321681e+04
14     2.906211e+06
15    -4.782759e+04
16    -4.782759e+04
17    -4.782759e+04
18    -4.782759e+04
19    -4.782759e+04
20    -4.782759e+04
21    -4.782759e+04
22    -4.782759e+04
23     2.898588e+06
24     6.837948e+05
25     8.087773e+05
26    -4.782759e+04
27    -4.782759e+04
28    -4.782759e+04
29    -4.782759e+04
...             ...
17049 -4.782759e+04
17050 -4.782759e+04
17051 -4.782759e+04
17052 -4.782759e+04
17053 -4.782759e+04
17054 -4.782759e+04
17055 -4.782759e+04
17056 -4.782759e+04
17057 -4.782759e+04
17058 -4.782759e+04
17059 -4.782759e+04
17060 -4.782759e+04
17061 -4.782759e+04
17062 -4.782759e+04
17063 -4.782759e+04
17064 -4.782759e+04
17065 -4.782759e+04
17066 -4.782759e+04
17067  4.542970e+04
17068 -4.782759e+04
17069 -4.782759e+04
17070 -4.782759e+04
17071 -4.782759e+04
17072 -4.782759e+04
17073 -4.782759e+04
17074 -4.782759e+04
17075 -4.782759e+04
17076 -4.782759e+04
17077 -4.782759e+04
17078 -4.782759e+04

[17079 rows x 1 columns]