In [165]:
import pandas as pd
import seaborn as sns; sns.set();
import numpy as np
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
%pwd

'/home/localadmin/Documents/DataSci'

In [194]:
#opening the data set and storing in Pandas dataframe "df"
f = open('/home/localadmin/business.csv','r')
df = pd.read_csv(f);
df.iloc[:,6:9]

,Impact: Capital Investments,Impact: Created New Jobs,Impact: Revenue Increase
0,0.0,0.0,0.0
1,0.0,0.0,0.0
2,0.0,0.0,0.0
3,0.0,0.0,0.0
4,0.0,0.0,0.0
5,0.0,0.0,0.0
6,0.0,2.0,500000.0
7,652900.0,27.0,0.0
8,0.0,0.0,0.0
9,0.0,0.0,0.0
10,0.0,0.0,0.0
11,0.0,0.0,0.0
12,0.0,4.0,1200000.0
13,156000.0,1.0,0.0
14,1225000.0,4.0,3176050.0
15,0.0,0.0,0.0
16,0.0,0.0,0.0
17,0.0,0.0,0.0
18,0.0,0.0,0.0
19,0.0,0.0,0.0
20,0.0,0.0,0.0
21,0.0,1.0,0.0
22,0.0,0.0,0.0
23,2090000.0,9.0,2100000.0
24,312000.0,2.0,776022.0
25,730000.0,5.0,460000.0
26,0.0,0.0,0.0
27,0.0,0.0,0.0
28,0.0,0.0,0.0
29,0.0,0.0,0.0
...,...,...,...
17049,0.0,0.0,0.0
17050,0.0,0.0,0.0
17051,0.0,0.0,0.0
17052,0.0,0.0,0.0
17053,0.0,0.0,0.0
17054,0.0,0.0,0.0
17055,0.0,0.0,0.0
17056,0.0,0.0,0.0
17057,0.0,0.0,0.0
17058,0.0,0.0,0.0
17059,0.0,0.0,0.0
17060,0.0,0.0,0.0
17061,0.0,0.0,0.0
17062,0.0,0.0,0.0
17063,0.0,0.0,0.0
17064,0.0,0.0,0.0
17065,0.0,0.0,0.0
17066,0.0,1.0,0.0
17067,0.0,0.0,147834.0
17068,0.0,0.0,0.0
17069,0.0,0.0,0.0
17070,0.0,0.0,0.0
17071,0.0,0.0,0.0
17072,0.0,0.0,0.0
17073,0.0,0.0,0.0
17074,0.0,0.0,0.0
17075,0.0,0.0,0.0
17076,0.0,0.0,0.0
17077,0.0,0.0,0.0
17078,0.0,0.0,0.0

In [198]:
#using PCA dimenstionality reduction on Captial investments, new jobs, revenue to generalize "success"
pca = PCA(n_components=1)
pca.fit(df.iloc[:,6:9])
impact_pca = pd.DataFrame(pca.transform(df.iloc[:,6:9].values))
impact_pca
codes = pd.DataFrame(df.iloc[:,12].values)
impact_pca
codes
df_new = pd.concat([codes,impact_pca],axis=1)
df_new.columns = ["NAICS Code","Success"]
df_new.title = "Whole State Averages"
df_new.groupby("NAICS Code")["Success"].mean().reset_index().sort_values("Success",ascending=False)

   NAICS Code       Success
14         53  84772.223868
5          32  72520.243389
7          42  57766.784018
10         48  46098.050915
3          23  39743.199510
21         72  33103.186330
6          33  24476.706014
15         54  20496.247459
19         62  12758.371550
8          44   7390.261600
4          31   4169.660143
11         49   4104.440380
0          11   1294.598728
12         51    473.527548
17         56 -15348.932391
9          45 -16517.461772
22         81 -20577.489745
13         52 -20739.072756
18         61 -22887.878379
20         71 -26498.653227
2          22 -33410.954894
23         92 -35690.744939
24  Undefined -40100.408341
1          21 -45187.503385
16         55 -47827.590493